{
  "root": true,
  "env": {
    "node": true
  },
  "plugins": ["eslint-plugin-tsdoc"],
  "extends": [
    "plugin:vue/recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "plugin:jest/recommended",
    "plugin:jest/style",
    "@vue/prettier",
    "@vue/prettier/@typescript-eslint",
    "plugin:vue-i18n/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2020
  },
  "rules": {
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": false
        },
        "singleline": {
          "delimiter": "comma",
          "requireLast": false
        }
      }
    ],
    "tsdoc/syntax": "warn",
    "vue-i18n/no-dynamic-keys": "warn",
    "vue-i18n/no-raw-text": [
      "warn",
      {
        "ignoreNodes": ["v-icon"],
        "ignorePattern": "^[-#:()& ]+$"
      }
    ],
    "jest/consistent-test-it": "error",
    "jest/lowercase-name": [
      "error",
      {
        "allowedPrefixes": []
      }
    ],
    "jest/no-duplicate-hooks": "error",
    "jest/no-restricted-matchers": [
      "error",
      {
        "resolves": "Use `expect(await promise)` instead.",
        "toBeTruthy": "Avoid `toBeTruthy`",
        "toBeFalsy": "Avoid `toBeFalsy`"
      }
    ],
    "jest/no-if": "error",
    "jest/no-large-snapshots": [
      "error",
      {
        "maxSize": 12,
        "inlineMaxSize": 6,
        "whitelistedSnapshots": {}
      }
    ],
    "jest/no-test-return-statement": "error",
    "jest/prefer-called-with": "error",
    "jest/prefer-expect-assertions": "off",
    "jest/prefer-hooks-on-top": "error",
    "jest/prefer-spy-on": "error",
    "jest/prefer-strict-equal": "error",
    "jest/prefer-todo": "error",
    "jest/require-top-level-describe": "error",
    "jest/valid-title": "error"
  },
  "settings": {
    "vue-i18n": {
      "localeDir": "./locales/*.json"
    }
  },
  "overrides": [
    {
      "files": ["tests/unit/**/*.spec.ts"],
      "env": {
        "jest": true
      }
    }
  ]
}
