* text=auto eol=lf

## Dictionary
spellright.dict text eol=crlf

## GRAPHICS
*.eps  binary
*.gif  binary
*.ico  binary
*.jpg  binary
*.jpeg binary
*.pdf  binary
*.png  binary
*.svg  text eol=lf
*.svgz binary
*.wbmp binary
*.webp binary

## AUDIO
*.kar  binary
*.m4a  binary
*.mid  binary
*.midi binary
*.mp3  binary
*.ogg  binary
*.ra   binary

## VIDEO
*.3gpp binary
*.3gp  binary
*.as   binary
*.asf  binary
*.asx  binary
*.fla  binary
*.flv  binary
*.m4v  binary
*.mng  binary
*.mov  binary
*.mp4  binary
*.mpeg binary
*.mpg  binary
*.ogv  binary
*.swc  binary
*.webm binary

## FONTS
*.ttf   binary
*.eot   binary
*.otf   binary
*.woff  binary
*.woff2 binary
